body {
    padding: 0;
    margin: 0;
    background-color: #F1FBFE;
}

p {
    color: #00617D;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: inline-block;
}

li {
    display: inline;
    padding: 10px;
}

li a {
    font-size: 20px;
    padding: 15px;
    margin: auto;
    color: #00617D;
    text-decoration: none;
}

h1 {
    margin: auto;
    padding: 10px;
    color: #00617D;
    text-align: center;
}

h2 {
    margin: auto;
    padding: 10px;
    color: #00617D;
    text-align: center;
}

.img-center {
    padding-top: 10px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    max-width: 75%;
    height: 2px;
    background: #00617D;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image {
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.image .imgtext {
    visibility: hidden;
    width: 100%;
    color: white;
    text-align: center;
    padding: 12px 0;
    background-color: rgba(0, 0, 0, 0.50);
    font-size: 28px;

    /* Position the imgtext */
    bottom: 50px;
    position: absolute;
}

.image:hover .imgtext {
    visibility: visible;
}

.photo {
    display: inline-block;
}

.photo-set {
    border: 2px solid #00617D;
    border-radius: 5%;
    width: 350px;
}

.table-photo {
    object-fit: contain;
    height: 200px;
    border: 2px solid #00617D;
    border-radius: 5%;
}