.App {
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  max-width: 50%;
}

h1 {
  background-color: #C1C1C1;
  padding: 10px 10px 10px 10px;
}

label {
  font-size: 25px;
  padding: 25px 10px 25px 10px;
  font-weight: bold;
}

p {
  font-size: 20px;
  padding: 0 5px 0 5px;
  font-weight: bold;
}

.input-text {
  width: 95%;
  height: 15%;
  padding: 25px 20px;
  margin: 25px 10px 25px 10px;
  border-radius: 10px;
  border-width: 2px;
  font-size: 20px;
}

input::placeholder {
  font-weight: bold;
  font-size: 20px;
}

.textarea-text {
  width: 95%;
  height: 15%;
  padding: 25px 20px;
  margin: 25px 10px 25px 10px;
  border-radius: 10px;
  border-width: 2px;
  font-size: 24px;
}

textarea::placeholder {
    font-weight: bold;
    font-size: 20px;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  margin: 4px 18px;
  cursor: pointer;
  border-radius: 10px;
  float: right !important;
}