.article-div {
    padding: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.center {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}